body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #532e1c;
    font-family: 'Roboto', sans-serif;
}


h1 {
    color: #e6e6e6;
    font-size: 2.2rem;
    padding: 1.2rem;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
}

.formulario form {
    background-color: #e6e6e6;
    padding: 2.4rem;
    border-radius: 8px;
}

.formulario form fieldset {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.formulario form fieldset h2 {
    padding-bottom: 0.8rem;
    color: #532e1c;
}

.formulario form fieldset label {
    color: #0f0f0fcd;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 1.0rem 0 0.4rem;
}

.formulario form fieldset input, textarea {
    padding: 0.8rem;
    border-radius: 4px;
}

.formulario form fieldset 

