#home-page {
    background-color: #e6e6e6;
    color: #0f0f0f;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

#home-page header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 8px 8px;
    text-align: center;
    background-color: #532e1c;
    color: #e6e6e6;
    padding: 1.2rem;
    font-size: 1.0rem;   
}

#home-page header a {
    text-decoration: none;
    color: #e6e6e6;
    font-size: 1.2rem;
    padding: 1.4rem;
}

#home-page header a:hover {
    color: #e6e6e68a;
    transition-duration: 400ms;

}

#home-page section {
    padding: 1.2rem 0.6rem;
    background-color: #C5A880;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
} 

#home-page section p {
    max-width: 800px;
}
#home-page section.white {
    background-color: #e6e6e6;
}

#home-page section h2 {
    line-height: 3.6rem;
    margin-bottom: 1.2rem;
}

#home-page section figure {
    padding-bottom: 1.4rem;
}

#home-page section figure img {
    border-radius: 50%;
}

#home-page section figure figcaption {
    opacity: 0.6;
    font-size: 0.8rem;
    text-align: center;
}

#home-page section a {
    text-decoration: none;
    color: #6441a5;

}

#home-page section ul {
    margin-bottom: 1.2rem;
}

#home-page section .italic {
    font-size: 1.0rem;
}

#home-page footer {
    background-color: #532e1c;
    padding: 1.8rem;
}

#home-page footer p {
    color: #e6e6e6;
    font-size: 1.0rem;
    text-align: center;
    font-weight: bold;
}